#Nav{
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: white;
   z-index: 999;
}

#Nav .menu{
   list-style: none;
   display: flex;
   align-items: center;
   margin: 0;
   gap: 24px;
}
#Nav .menu li{
   display: block;
}

#Nav .menu a{
   position: relative;
   display: block;
   text-decoration: none;
   color: #afafaf;
   padding: 1.25em 0;
   font-weight: 300;
   transition: all .2s linear;
}
#Nav .menu a::after{
   content: '';
   position: absolute;
   width: 0;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   background: var(--gradient-color);
   transition: all .2s linear;
}
#Nav .menu a:hover{
   color: black;
}
#Nav .menu a:hover::after{
   height: 4px;
   width: 100%;
   left: 0;
   transform: translateX(0);
}
#Nav .toggleIcon{
   display: none;
}
#Nav .toggleIcon .Close-icon,
#Nav .toggleIcon .Burger-icon{
   cursor: pointer;
}

/* tablet */
@media screen and (max-width:1024px){
   
   #Nav .menu{
      gap: 18px;
   }
   #Nav .menu a{
      font-size: 16px;
   }
}

/* Mobile */
@media screen and (max-width:742px){
   #Nav .logo{
      padding: 18px;
      box-sizing: initial;
   }
   #Nav::before{
      content: '';
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 100%;
      left: 0;
      background:linear-gradient(var(--Dark-Blue) 10%, rgba(0,0,0,0));
      display: none;
      opacity: 0;
      z-index: -1;
      transition: opacity .5s ease-in;
   }
   #Nav.open::before{
      display: initial;
      opacity: 1;
      transition: opacity .5s ease-out;
   }
   #Nav .menu{
      position: absolute;
      top: calc(-700%);
      left: 50%;
      transform: translateX(-50%);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;
      gap: 0;
      padding: 12px 0;
      background-color: white;
      border: 1px solid black;
      border-radius: 5px;
      transition: all .3s ease-in;
      z-index: 1;
   }
   #Nav .menu.open{
      transition: all .4s ease-out;
      top: 70px;
   }
   #Nav .menu a{
      color: var(--Dark-Blue);
      font-size: 20px;
      font-weight: 400;
      padding: 14px;
   }
   #Nav .btn{
      display: none;
   }
   #Nav .toggleIcon{
      display: block;
   }
}